@model List<Nota>
@{
    ViewData["Title"] = "Cataloage";
    var notePeAni = Model?.GroupBy(n => n.Curs.An).OrderBy(g => g.Key).ToList() ?? new List<IGrouping<int, Nota>>();
    var currentSearch = Context.Request.Query["search"].ToString();
}

<h2>Cataloage</h2>

@foreach (var grup in notePeAni)
{
    <table class="table mb-4">
        <thead>
            <tr>
                <th colspan="5" class="fw-bold fs-5">Anul @grup.Key</th>
            </tr>
            <tr>
                <th style="width: 20%;">Curs</th>
                <th style="width: 20%;">Profesor</th>
                <th style="width: 20%;">Student</th>
                <th style="width: 20%;">Grupa</th>
                <th style="width: 20%;">Nota</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cursGrup in grup.GroupBy(n => n.Curs))
            {
                var noteCurs = cursGrup.ToList();
                <tr>
                    <td rowspan="@noteCurs.Count">@cursGrup.Key.NumeCurs</td>
                    <td rowspan="@noteCurs.Count">@cursGrup.Key.Profesor.NumeProfesor @cursGrup.Key.Profesor.PrenumeProfesor</td>
                    <td>@noteCurs[0].Student.NumeStudent @noteCurs[0].Student.PrenumeStudent</td>
                    <td>@noteCurs[0].Student.Grupa</td>
                    <td>@noteCurs[0].Valoare</td>
                </tr>
                @for (int i = 1; i < noteCurs.Count; i++)
                {
                    <tr>
                        <td>@noteCurs[i].Student.NumeStudent @noteCurs[i].Student.PrenumeStudent</td>
                        <td>@noteCurs[i].Student.Grupa</td>
                        <td>@noteCurs[i].Valoare</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}